.tile
{
    /* position: relative; */
width: 3%;
height: 250px;
/* border: 2px solid rgb(201, 13, 13); */
/* margin-top: 1%; */
 margin-left: 2%; 

border-radius: 5%;
transition:0.3s  ;
}  
.tile>p{
    width:85%;
}
.tile>img{
    width: 85%;
height: 226px;
border-radius: 5%;
}
.tile:hover{
    transform:scale(1.1);


} 

 
.cards
{

 /* border: 2px solid black;  */
margin-top: 1%;
margin-left: 50px;
margin-right: 50px;
 overflow-y: visible;
scroll-behavior: smooth; 
}